/*避免因不同浏览器造成的兼容性影响*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{
  padding: 0;
  margin: 0;
}
/*使用a标签的链接不出现下划线*/
a{
  text-decoration: none;
  color: ivory;
}
/*整个页面布局*/
#mainbox{
  width: 1008px;
  height: 1000px;
  margin: 0 auto;  /*居中，必须要先设定一个宽度*/
}
body{
  background: url(../img/bg.jpg) no-repeat 780px 115%;
}

/*在线咨询*/
#consultbox{
  width: 144px;
  height: 144px;
  position: absolute;
  top: 500px;  /*初始高度，会自动跳到顶端*/
  right: 10px;
  z-index: 100;  /*使其浮动在最前面*/
}
#consultbox img{
  width: 144px;
  height: 144px;
  border: 1px black solid;
  border-radius: 17px;
}

/*顶部logo部分*/
#logo{
  height: 95px;
  position: relative;
  padding: 10px;
}
.logo1{
  width: 120px;
  float: left;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
.logo1 img{
  height: 80px;
  width: 100px;
}
.logofont{
  position: absolute;
  bottom: 15px;
  left: 172px;
}
.logospan{
  font-size: 30px;
  float: left;
  width: 300px;
  font-weight: bold;
  height: 60px;
  color: rgb(38, 38, 38);
  font-family: 'Microsoft YaHei';
}
.phone{
  position: absolute;
  bottom: 5px;
  right: -20px;
  font-size: 15px;
  color: rgb(38, 38, 38);
  width: 200px;
  height: 60px;
}
#setindex{
  width: 200px;
  height: 30px;
  position: absolute;
  right: -20px;    /*相对父容器30px*/
  top: 10px;
}
#setindex ul{
  list-style: none;
}
#setindex ul li{
  display: inline;
}
#setindex ul li a{
  color: rgb(241, 214, 34);
  font-weight: bold;
  font-size: 17px;
}

/*主菜单*/
#mainmenu{
  position: relative;
}
#nav{
  background-color: black;
  line-height: 44px;
}
#nav ul{
  list-style: none;  /*去掉项目符号*/
}
#nav ul li{       /*ul似乎可以去掉？？*/
  display: inline-block;
  font-family: 'Microsoft YaHei';
  width: 80px;
  text-align: center;
  line-height: 44px;
}
#col{
  background-color: rgb(38, 38, 38);
}

/*二级菜单*/
#nav1{
  position: absolute;
  top: 44px;
  left: 175px;
  display: none;  /*使其默认为隐藏状态*/
  z-index: 1000;  /*防止二级菜单被banner部分覆盖掉*/
}
#nav1 ul{
  list-style: none;
}
#nav1 ul li{
  width: 80px;
  height: 35px;
  color: ivory;
  font-family: 'Microsoft YaHei';
  background-color: rgb(38, 38, 38);
  text-align: center;
  font-size: 15px;
}
/*banner*/
#bannerbox{
  position: relative;
}
#banner1{
  width: 1008px;
  height: 370px;
}
#spanbtn{
  position: absolute;
  right: 10px;
  bottom: 20px;
}
#spanbtn span{
  border: 3px ivory solid;
  margin-right: 5px;
  padding: 5px;
  font-family: 'Microsoft YaHei';
  background-color: black;
  color: ivory;
}
/*middlebox*/
/*midtop*/
#midtop{
  background-color: black;
  height: 360px;
}
.topleft{
  background: url(../img/topleft.jpg) repeat-x;
  height: 336px;
  width: 270px;
  float: left;
  border: solid 1px ivory;
  margin: 8px;
}
.titlecontent{
  background: url(../img/plus.png) no-repeat left center;
  text-indent: 50px;  /*文本首行缩进距离*/
  margin-left: 5px;
}
.topleft span{
  font-size: 16px;
  color: ivory;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  line-height: 45px;
}
#newsimg{
  margin: 0 auto;
  width: 200px;
  /*这里的width要和下面img的像素相同，这样才能用margin方法使图片居中*/
}
#newsimg img{
  width: 200px;
  height: 150px;
}
.toplist ul{
  list-style: none;
  margin-left: 20px;
  margin-top: 5px;
}
.toplist ul li{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: ivory;
  line-height: 30px;
  background: url(../img/rightarrow.png) no-repeat left center;
  text-indent: 50px;
  border-bottom: ivory 1px dotted;
  width: 80%;
}
#companybox{
  width: 400px;
}
#companyimg{
  margin: 0 auto;
  width: 330px;
}
#companyimg img{
  width: 330px;
  height: 150px;
}
#info{
  margin-top: 20px;
  text-align: center;
  text-indent: 10px;
}
#info span{
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
#contactimg{
  margin: 0 auto;
  width: 200px;
}
#contactimg img{
  width: 200px;
  height: 120px;
}

/*midbottom*/
#midbotleft{
  height: 260px;
}
#midbotright{
  width: 690px;
  height: 260px;
}
#scroll_div{
  width: 600px;
  overflow: hidden;
  margin: 10px auto;
  height: 180px;
}
#scroll_begin{
  width: 800%;
}
#scroll_begin img{
  width: 100px;
  height: 120px;
}
#scroll_begin span{
  display:inline-block;
  width:100px;
  text-align:center;
}
#scroll_end img{
  width: 100px;
  height: 120px;
}
#scroll_end span{
  display:inline-block;
  width:100px;
  text-align:center;
}

/*bottom box*/
.bottombox{
  position: relative;
  clear: both;     /*Attention!!!*/
}
#btbox{
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  background: url(../img/topleft.jpg) repeat-x;
  width: 968px;
  height: 80px;
  margin-top: 10px;
  position: absolute;
  padding: 20px;
}



/*产品.html css*/
#prolistleft{
  width: 250px;

  float: left;

}
#prolistright{
  width: 730px;

  float: left;

  margin-left: 20px;
}
#box1 h1{
  background-color: rgb(235, 88, 159);
  height: 35px;
  line-height: 35px;  /*使文字上下居中*/
  font-size: 20px;
  text-indent: 20px;
  border-bottom: ivory 5px solid;
}
#box1 ul{
  list-style: none;
}
#box1 ul li{
  background-color: rgb(194, 230, 245);
  line-height: 35px;
  border-bottom: ivory 3px solid;
  text-indent: 20px;
}
#box1 ul li a{
  color: black;
}
#box2 h1{
  background-color: rgb(206, 218, 46);
  height: 35px;
  line-height: 35px;  /*使文字上下居中*/
  font-size: 20px;
  text-indent: 20px;
  border-bottom: ivory 5px solid;
}
#box2 ul{
  list-style: none;
}
#box2 ul li{
  background-color: rgb(124, 99, 166);
  line-height: 20px;
  border-bottom: ivory 3px solid;
  text-indent: 20px;
  font-size: 12px;
  color: ivory;
  list-style: inside;  /*列表符号*/
}

#box3 h1{
  background-color: rgb(197, 71, 147);
  height: 35px;
  line-height: 35px;  /*使文字上下居中*/
  font-size: 20px;
  text-indent: 20px;
  border-bottom: ivory 5px solid;
}
#box3 ul{
  list-style: none;
}
#box3 ul li{
  background-color: rgb(255, 240, 53);
  line-height: 35px;
  border-bottom: ivory 3px solid;
  text-indent: 20px;
}
#box3 ul li a{
  color: black;
}

#proimg img{
  width: 710px;
  height: 130px;
  border-radius: 15px;
}
#proimg{
  padding: 10px;
  border-bottom: 3px dotted rgb(67, 131, 233);
}
#navbarimg{
  padding: 10px;
  background: url(../img/navbar.png) no-repeat center 0;
  width: 710px;
  height: 30px;
  border-radius: 15px;
  line-height: 30px;
  text-indent: 15px;
  color: ivory;
}

#chanpin ul{
  list-style: none;
  width: 740px;
}
#chanpin ul li{
  display: inline-block;   /*需定义一个宽度，使其块状显示*/
}
#chanpin ul li img{
  width: 240px;
  height: 180px;
}
#word{
  color: rgb(237, 204, 200);
  text-align: center;
  font-weight: bold;
}
.bottombox1{
  position: relative;
  clear: both;
}
#btbox1{
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  background: url(../img/topleft.jpg) repeat-x;
  width: 968px;
  height: 80px;
  margin-top: 80px;
  position: absolute;
  padding: 20px;
}


/*新闻列表newslist.html  css*/
#newslist{
  margin-top: 15px;
}
#newslist ul{
  list-style: none;
}
#newslist ul li{
  line-height: 20px;
  position: relative;
  list-style: inside;
  height: 30px;
}
#newslist ul li a{
  color: rgb(70, 137, 244);
}
#newslist ul li a:hover{
  text-decoration: underline;
}
#newslist ul li span{
  position: absolute;
  right: 10px;
  color: rgb(70, 137, 244);
}


/*newsdetail.html新闻详细页面   css*/
#h2{
  text-align: center;
  line-height: 27px;
}
#h5{
  text-align: right;
  color: gray;
  line-height: 27px;
}
.intro{
  text-indent: 24px;
  line-height: 27px;
  font-family: "Microsoft YaHei";
  min-height: 300px;     /*为了美观：使得当内容比较少的时候，文字底部始终与左边菜单栏齐平*/
}
/*成功案例*/
.cot{
  min-height: 270px;
}
.tupian img{
  width: 240px;
  height: 210px;
  border: 0.5px solid gray;
  border-radius: 20px;
}
.tupian{
  float: left;
  margin: 20px;
}
.tp{
  float: left;
  width: 340px;
  margin: 20px;
}
.tp p{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 20px;
  padding: 10px;
  color: gray;
}
/*解决方案*/
.tupian1 img{
  width: 390px;
  height: 180px;
}
.tupian1{
  width: 390px;
  height: 200px;
  margin: 0 auto;
}
.tp1{
  text-align: center;
  margin: 20px;
}
.tp1 p{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 20px;
  padding: 10px;
  color: gray;
}
#aboutus h3{
  text-align: center;
  line-height: 30px;
}
#aboutus h5{
  color: gray;
  line-height: 25px;
}
#aboutus p{
  font-size: 15px;
  font-family: "Microsoft YaHei";
  line-height: 30px;
  padding: 10px;
}


/*linkus.css  联系我们  css*/
#tbwords{
  width: 500px;
  min-height: 400px;
  border: solid 0.5px gray;
  /*border-collapse: collapse;   边框合并功能没法实现*/
  margin: 20px auto;
}
#tbwords td{
  border: solid 0.5px gray;
}
#tbwords input{
  border: solid 1px black;
  margin-left: 20px;
}
#tbwords textarea{
  margin-left: 20px;
  border: solid 1px black;
}
.tb1{
  width: 100px;
  text-align: center;
}
#btn{
  text-align: center;
}
#btn input{
  color: ivory;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: black;
}
