@charset "UTF-8";
/*公用*/
.comWidth{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.leftArea{
  float: left;
}
.rightArea{
  float: right;
}  /*.leftArea .rightArea 使文字上下左右居中*/

/*topBar*/
.topBar{
  height: 31px;
  background-color: #f7f7f7;
  line-height: 31px;
}
.collection{
  background: url(../img/icon/collection.jpg) left center no-repeat;
  /*left center 分别指x,y轴的位置*/
  padding-left: 29px;
  font-weight: bold;
}
.topBar a:hover{
  color: black;
}

/*logoBar*/
.logoBar{
  height: 86px;
  background-color: black;
}
.logo{
  padding-left: 41px;
  padding-top: 3px;
}
/*search*/
.searchBox{
  width: 430px;
  margin-top: 23px;
  padding-left: 135px;
}
.searchText{
  width: 340px;
  height: 35px;
  padding: 0 10px;
  /*因为有了padding,所以原来360(430-70)px的width要变成350px,因为左右各填充5px共10px*/
}
.searchBtn{
  width: 70px;
  height: 35px;
  font-size: 14px;
  font-family: "Microsoft YaHei","微软雅黑";
  background-color: #4ab6d9;
}
/*shopCar*/
.shopCar{
  width: 145px;
  height: 35px;
  background-color: #4ab6d9;
  margin-top: 23px;
  font:14px/35px "Microsoft YaHei","微软雅黑";
  color: black;
  margin-right: 49px;
}
.shopText{
  /*font-size: 14px;
  font-family: "Microsoft YaHei","微软雅黑";
  可以简写(35px是行高):
  font:14px/35px "Microsoft YaHei","微软雅黑";*/
  height: 100%;
  width: 87px;
  border-right: black solid 1px;
  line-height: 35px;
  background: url(../img/icon/shopCar.png) 0px center no-repeat;
  /*0px center 分别指x,y轴的位置*/
  text-indent: 40px;
  /*text-indent 表示首行缩进*/
}
.shopNum{
  width: 27px; /*56-29*/
  height: 35px;
  border-left: rgb(76, 157, 203) solid 1px;
  /*font:14px/35px "Microsoft YaHei","微软雅黑";*/
  background: url(../img/icon/shopNum.png) 33px center no-repeat;
  text-align: right;
  padding-right: 29px;
}
/*navBox*/
.navBox{
  height: 35px;
  background-color: rgb(19, 19, 19);
  color: rgb(168, 168, 168);
}
.shopClass{
  width: 190px;
  position: relative;
}
.shopClass h3{
  text-align: center;
  line-height: 35px;
}
.shopClass i{
  width: 15px;
  height: 7px;
  overflow: hidden;
  background: url(../img/icon/shopClass.png) left center no-repeat;
  display: inline-block; /*因为给<i>标签强行设置了长、宽，所以要加上display: inline-block*/
  margin-left: 11px;
}
.nav, .shopClass{
  font-family: "Microsoft YaHei","微软雅黑";
}
.nav{
  line-height: 35px;
}
.nav li{
  float: left;
}
.nav a{
  height: 35px;
  display: inline-block;
  padding: 0 35px;
  color: rgb(168, 168, 168);
}
.nav .active{
  background-color: rgb(69, 69, 69);
}
/*商品弹出列表*/
.shopClass_item .b{
  /*font-family: "Microsoft YaHei","微软雅黑";
  font-size: 14px;
  font-weight: bold;*/
  font: 14px/1 "Microsoft YaHei","微软雅黑";
}
.shopClass_show{
  background-color: rgb(69, 69, 69);
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
}
.shopClass_item a{
  color: rgb(168, 168, 168);
}
.shopClass_item{
  padding: 14px 10px;
  border-bottom: rgb(168, 168, 168) solid 1px;
  border-top: rgb(190, 190, 190) solid 1px;
}
.shopClass_item dt{
  height: 24px;
  background: url(../img/icon/shopClass1.png) right center no-repeat;
}
.shopClass_item .aLink{
  width: 48px;
  height: 20px;
  background-color: rgb(19, 19, 19);
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}
