/*避免因不同浏览器造成的兼容性影响*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{
  padding: 0;
  margin: 0;
}
/*使用a标签的链接不出现下划线*/
a{
  text-decoration: none;
  color: ivory;
}
/*整个页面布局*/
#mainbox{
  border: solid 1px red;
  width: 1008px;
  height: 1000px;
  margin: 0 auto;  /*居中*/
}
body{
  background: url(img/bg.jpg) no-repeat right 100%;
}
/*顶部logo部分*/
#logo{
  height: 95px;
  position: relative;
  padding: 10px;
}
.logo1{
  width: 120px;
  float: left;
  position: absolute;
  bottom: 15px;
  text-align: center;
}
.logo1 img{
  height: 80px;
  width: 100px;
}
.logofont{
  position: absolute;
  bottom: 15px;
  left: 172px;
}
.logospan{
  font-size: 30px;
  float: left;
  width: 300px;
  font-weight: bold;
  height: 60px;
  color: rgb(38, 38, 38);
  font-family: 'Microsoft YaHei';
}
.phone{
  position: absolute;
  bottom: 15px;
  right: 0px;
  font-size: 15px;
  color: rgb(38, 38, 38);
  width: 200px;
  height: 60px;
}
/*主菜单*/
#mainmenu{
  position: relative;
}
#nav{
  background-color: black;
  line-height: 44px;
}
#nav ul{
  list-style: none;  /*去掉项目符号*/
}
#nav ul li{       /*ul似乎可以去掉？？*/
  display: inline-block;
  font-family: 'Microsoft YaHei';
  width: 80px;
  text-align: center;
  line-height: 44px;
}
#col{
  background-color: rgb(38, 38, 38);
}

/*二级菜单*/
#nav1{
  position: absolute;
  top: 44px;
  left: 175px;
  display: none;  /*使其默认为隐藏状态*/
  z-index: 1000;  /*防止二级菜单被banner部分覆盖掉*/
}
#nav1 ul{
  list-style: none;
}
#nav1 ul li{
  width: 80px;
  height: 35px;
  color: ivory;
  font-family: 'Microsoft YaHei';
  background-color: rgb(38, 38, 38);
  text-align: center;
  font-size: 15px;
}
/*banner*/
#bannerbox{
  position: relative;
}
#banner1{
  width: 1008px;
  height: 370px;
}
#spanbtn{
  position: absolute;
  right: 10px;
  bottom: 20px;
}
#spanbtn span{
  border: 3px ivory solid;
  margin-right: 5px;
  padding: 5px;
  font-family: 'Microsoft YaHei';
  background-color: black;
  color: ivory;
}
/*middlebox*/
/*midtop*/
#midtop{
  background-color: black;
  height: 360px;
}
.topleft{
  background: url(img/topleft.jpg) repeat-x;
  height: 336px;
  width: 270px;
  float: left;
  border: solid 1px ivory;
  margin: 8px;
}
.titlecontent{
  background: url(img/plus.png) no-repeat left center;
  text-indent: 50px;  /*文本首行缩进距离*/
  margin-left: 5px;
}
.topleft span{
  font-size: 16px;
  color: ivory;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  line-height: 45px;
}
#newsimg{
  margin: 0 auto;
  width: 200px;
  /*这里的width要和下面img的像素相同，这样才能用margin方法使图片居中*/
}
#newsimg img{
  width: 200px;
  height: 150px;
}
.toplist ul{
  list-style: none;
  margin-left: 20px;
  margin-top: 5px;
}
.toplist ul li{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: ivory;
  line-height: 30px;
  background: url(img/rightarrow.png) no-repeat left center;
  text-indent: 50px;
  border-bottom: ivory 1px dotted;
  width: 80%;
}
#companybox{
  width: 400px;
}
#companyimg{
  margin: 0 auto;
  width: 330px;
}
#companyimg img{
  width: 330px;
  height: 150px;
}
#info{
  margin-top: 20px;
  text-align: center;
  text-indent: 10px;
}
#info span{
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
#contactimg{
  margin: 0 auto;
  width: 200px;
}
#contactimg img{
  width: 200px;
  height: 120px;
}
.toplist1 ul{
  list-style: none;
  margin-left: 20px;
  margin-top: 5px;
}
.toplist1 ul li{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: ivory;
  line-height: 30px;
}
/*midbottom*/
#midbotleft{
  height: 260px;
}
#midbotright{
  width: 690px;
}
#demo{
  width: 600px;
  overflow: hidden;
  margin: 10px auto;
}
#indemo{
  float: left;
  width: 800%;
}
#demo1{
  float: left;
}
#demo2{
  float: left;
}
#demo1 img{
  width: 80px;
  height: 100px;
}
